.selected-input-wrap{
    display: flex;
    flex-direction: column;
}
.checkbox-container{
    height: 24px;
    width: 24px;
}
.checkbox-wrap{
    display: inline-block;
    position:relative;
    height: 24px;
    width: 24px;
    border-radius: 4px;
}
.checkbox-wrap:hover .checkmak{
    background-image: url('../../assets/img/ic_checkbox_hover.d04300f4.svg');
}
.checkbox-wrap-hover .checkmak{
    background-image: url('../../assets/img/ic_checkbox_hover.d04300f4.svg');
}
.checkbox-wrap:focus .checkmak{
    background-image: url('../../assets/img/ic_checkbox_hover.d04300f4.svg');
}
.check-box{
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 2;
    position:absolute;
    margin:0;
    padding:0;
    opacity: 0;
}
.checkmak{
    width: 100%;
    height: 100%;
    display: inline-block;
    position:relative;
    background-image: url('../../assets/img/checkbox.svg');
}


.checkmak.check-master{
    height: 16px !important;
    width:16px !important;
    position:absolute;
    top:4px;
    left:4px;
    background: url('../../assets/img/CeGo_Sprites.c193503b.svg') no-repeat -544px -144px !important;
}
.checkmak.check-true{
    background-image: url('../../assets/img/checkbox-active.svg');
}
.check-box:checked+.checkmak {
    background-image: url('../../assets/img/checkbox-active.svg');
}
.check-name{
    cursor: pointer;
}
.select-input-disabled{
    opacity: 0.7;
    position: relative;
}
.select-input-disabled::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
.check-box:disabled{
    cursor: default;
}
.checkbox-disables{
    pointer-events: none;
}